<div class="min-h-screen">
  <div class="container max-w-7xl mx-auto px-4 py-8">
    @if (fetchingData) {
    <div>
      <app-detail-page-skeleton></app-detail-page-skeleton>
    </div>
    } @if (!fetchingData) {
    <div class="grid grid-cols-12 gap-4">
      <app-artwork
        [artWork]="artWork"
        class="w-full grid col-span-12 grid-cols-12 gap-4"
      ></app-artwork>
      <div class="w-full col-span-12">
        <div class="flex justify-between items-center">
          <span class="text-xl font-semibold mt-12 mb-4">
            <i class="bi bi-chat-left"></i> Comments
          </span>
          <button
            (click)="addComment()"
            class="mt-8 border-solid border-2 px-2 py-2 hover:shadow-md transition-all duration-300 hover:border-black cursor-pointer"
          >
            <i class="bi bi-plus"></i> Add Comment
          </button>
        </div>
        @if (comments.length) {
        <div class="h-[600px] overflow-y-auto">
          @for (item of comments; track item) {
          <div class="p-3 rounded-lg mt-3">
            <app-comments [comment]="item" [artworkId]="id"></app-comments>
          </div>
          }
        </div>
        } @else {

        <p class="text-md text-gray-600 mb-4">No comments yet</p>

        }
      </div>
    </div>
    }
  </div>
</div>
