<div
  class="min-h-screen flex justify-center bg-gradient-to-br from-purple-50 via-pink-50 to-indigo-50 pt-28 pb-4"
>
  <div
    class="w-full max-w-2xl bg-white/80 backdrop-blur-sm shadow-xl p-4 rounded-md"
  >
    <div class="space-y-1">
      <p class="text-2xl font-bold text-center text-purple-600">
        Upload Your Artwork
      </p>
      <p class="text-center text-gray-400">
        Share your creation with the world
      </p>
    </div>

    <form [formGroup]="artworkForm">
      <div class="mt-4">
        <p class="text-sm font-sm pt-3 pb-2 text-gray-500">Artwork Image</p>
        <div class="pb-3">
          <ngx-dropzone
            (change)="onSelect($event)"
            class="border-solid border-2 !border-purple-400"
          >
            <ngx-dropzone-label>
              <p class="text-xl">
                <i class="bi bi-upload text-purple-400"></i>
              </p>
              <p><strong>Click to upload</strong> or drag and drop</p>
              <p class="text-sm">
                PNG, JPG (MAX. 800x400px). Atleast 1 image required
              </p>
            </ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngFor="let f of files"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label class="!overflow-hidden"
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
      </div>
      <div class="space-y-2 mb-3">
        <label class="title" class="text-sm">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          formControlName="title"
          class="w-full p-3 border border-gray-300 rounded-md h-[45px] transition duration-200 ease-in-out focus:ring-2 focus:ring-purple-300"
          placeholder="Enter title of your artwork"
        />
      </div>
      <div class="space-y-2">
        <label class="title" class="text-sm">Description</label>
        <textarea
          type="text"
          name="description"
          formControlName="description"
          rows="5"
          id="description"
          class="w-full p-3 border border-gray-300 rounded-md transition duration-200 ease-in-out focus:ring-2 focus:ring-purple-300"
          placeholder="Enter description of your artwork"
        ></textarea>
      </div>
      <div class="mt-4">
        <div class="space-y-2 mb-3">
          <label class="title" class="text-sm">Price ($)</label>
          <input
            type="number"
            name="price"
            formControlName="price"
            min="0"
            id="price"
            class="w-full p-3 border border-gray-300 rounded-md h-[45px] transition duration-200 ease-in-out focus:ring-2 focus:ring-purple-300"
            placeholder="Enter price"
          />
        </div>
      </div>
      <div class="space-y-2 mb-3">
        <label class="title" class="text-sm">Category</label><br />
        <!-- <select
          id="default"
          formControlName="category"
          class="text-black w-full bg-white border border-solid border-gray-300 font-medium text-sm py-2.5 inline-flex items-center focus:ring-2 focus:ring-purple-300"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select> -->
        <ul
          class="grid grid-cols-3 md:grid-cols-4 gap-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
        >
          <li
            class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
            *ngFor="let category of categories"
          >
            <div class="flex items-center ps-3">
              <input
                id="{{ category.name }}-checkbox"
                type="checkbox"
                value=""
                (change)="onCategoryChange($event, category)"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
              />
              <label
                for="{{ category.name }}-checkbox"
                class="w-full py-3 ms-2 text-sm font-medium text-gray-900"
                >{{ category.name }}</label
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="grid grid-cols-12 mt-4">
        <button
          (click)="submit()"
          [disabled]="artworkForm.invalid || isSubmitting"
          class="col-span-12 w-full disabled:opacity-50 text-white text-sm font-medium px-2 py-2.5 bg-purple-600 hover:bg-purple-700 transition-all duration-300 rounded-md"
        >
          Upload Artwork
        </button>
      </div>
    </form>
  </div>
</div>
