<div class="min-h-screen">
  <app-filter
    [isUserArtist]="isUserArtist"
    [categories]="categories"
    (setFilter)="sortArtworks($event)"
    (clearFilter)="clearFilters()"
  ></app-filter>
  <main class="mx-auto px-4 py-8">
    @if (fetchingData) {
    <app-card-skeleton></app-card-skeleton>
    } @else {
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      @for(column of columns; track column) {
      <div class="grid gap-4">
        @for(image of column; track image) {
        <app-artwork-card [image]="image"></app-artwork-card>
        }
      </div>
      }
    </div>
    }
  </main>
</div>
