// .bg-light {
//     background-color: #f8f9fa !important;
//   }
  
//   .bg-dark {
//     background-color: #343a40 !important;
//   }
  
//   .card {
//     border-radius: 10px;
//   }
  
.bg-gradient {
    background: linear-gradient(to bottom, #f3e8ff, #ffe4e6) !important;
  }
  
  .text-purple {
    color: #6c63ff !important;
  }
  
  .btn-purple {
    background-color: #6c63ff;
    color: white;
  }
  
  .btn-purple:hover {
    background-color: #5a54d6;
  }
  
  .hover-shadow:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .bg-purple {
    background: #6B21A8 !important;
  }
  .pill-btn {
    border-radius: 25px;
  }


  .circle-count-holder {
    font-weight: bold;
    position: fixed;
    right: 0;
    z-index: 9999;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 100%;;
    border: 1px solid white;
    text-align: center;
    // background: #4a8fd9;
    // border-color: #4a8fd9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .circle-count {
      position: absolute;
      top: -10px;
      left: -10px;
      color: white;
      height: 30px;
      width: 30px;
      background: #f64859;
      border-radius: 100%;
      align-items: center;
      text-align: center;
      display: flex;
      justify-content: center;
      transition: z-index 0.3s ease;
    }
  }
  .circle-count-holder.modal-open {
    z-index: -1;
  }