@if (!isAuthenticated) {
<div
  class="cursor-pointer"
  [class]="
    'fixed z-50 w-full transition-all duration-300 ' +
    (isScrolled ? 'bg-white/80 backdrop-blur-md shadow-md' : '')
  "
>
  <div class="mx-auto px-4 py-4 flex justify-between items-center">
    <a
      (click)="goToHome()"
      class="text-3xl font-bold text-purple-800 flex items-center"
    >
      <img
        src="images/logo.png"
        alt="Logo"
        width="30"
        height="30"
        class="mr-2"
      />
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-pink-600"
        >Aesthetica</span
      >
    </a>
    <!-- Hamburger Icon -->
    <button
      class="md:hidden text-purple-800 focus:outline-none"
      (click)="toggleMenu()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <!-- Navigation Links -->
    <nav
      [class]="menuOpen ? 'block' : 'hidden'"
      class="absolute top-16 left-0 bg-white md:!bg-transparent md:static md:flex md:space-x-8 w-full md:w-auto"
    >
      <a
        routerLink="#"
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        >Explore</a
      >
      <a
        routerLink="#"
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        >Artists</a
      >
      <a
        routerLink="#"
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        >About</a
      >
      @if (isAuthenticated) {
      <a
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        (click)="logout()"
      >
        Log Out&nbsp;<i class="bi bi-box-arrow-right"></i
      ></a>
      } @else {

      <a
        (click)="routeToLogin()"
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        >Log In&nbsp;<i class="bi bi-box-arrow-in-left"></i
      ></a>

      }
    </nav>
  </div>
</div>
} @else {

<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <div class="navbar bg-base-100 shadow-md h-[88px]">
      <div class="flex-none">
        <label
          for="my-drawer"
          class="btn drawer-button bg-transparent border-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-5 w-5 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path></svg
        ></label>

        <!-- <button class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-5 w-5 stroke-current">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button> -->
      </div>
      <div class="flex-1">
        <a routerLink="/home" class="flex ms-2 items-center">
          <img
            src="images/logo.png"
            alt="Logo"
            width="30"
            height="30"
            class="mr-2"
          />
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-pink-600"
            >Aesthetica</span
          >
        </a>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                [src]="currProfile?.profilePic"
              />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li>
              <a class="justify-between" (click)="routeToProfile()">
                Profile
                <span class="badge">New</span>
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="drawer-side z-[9999]">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <li>
        <a
          routerLink="/home"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 group text-lg font-semibold"
        >
          <i class="bi bi-house"></i>
          <span class="ms-3">Home</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/orders"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 text-lg font-semibold"
        >
          <i class="bi bi-bag-check"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Orders</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/artworks"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 text-lg font-semibold"
        >
          <i class="bi bi-easel"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Artworks</span>
        </a>
      </li>
    </ul>
  </div>
</div>

}
