<header
  class="cursor-pointer"
  [class]="
    'fixed z-50 w-full transition-all duration-300 ' +
    (isScrolled ? 'bg-white/80 backdrop-blur-md shadow-md' : '')
  "
>
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a
      (click)="goToHome()"
      class="text-3xl font-bold text-purple-800 flex items-center"
    >
      <img src="images/logo.png" alt="Logo" width="30" height="30" class="mr-2" />
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-pink-600"
        >Aesthetica</span
      >
    </a>
    <!-- Hamburger Icon -->
    <button
      class="md:hidden text-purple-800 focus:outline-none"
      (click)="toggleMenu()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <!-- Navigation Links -->
    <nav
      [class]="menuOpen ? 'block' : 'hidden'"
      class="absolute top-16 left-0 bg-white md:bg-transparent md:static md:block md:flex md:space-x-8 w-full md:w-auto"
    >
      <a
        routerLink="#"
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        >Explore</a
      >
      <a
        routerLink="#"
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        >Artists</a
      >
      <a
        routerLink="#"
        class="block text-purple-800 hover:text-purple-600 transition-colors py-2 px-4 md:py-0"
        >About</a
      >
    </nav>
  </div>
</header>
