<div class="grid gap-4 max-w-sm h-full">
  <div
    class="rounded overflow-hidden shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"
    (click)="navigateToArtworksDetail()"
  >
    <img
      class="w-full h-[200px] object-cover"
      [src]="data().images[0].url"
      alt="Sunset in the mountains"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ data().title }}</div>
      <p class="text-gray-700 text-base">
        {{ data().description }}
      </p>
    </div>
    <div class="flex flex-wrap gap-2 px-3 mb-3">
      @for (item of data().category; track item) {
        <span
          class="inline-block bg-gray-200 border px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >
          {{ item.category.name }}</span
        >
      }
    </div>
  </div>
</div>
